.wrapper {
  display: flex;
  gap: 15px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.card {
  height: 150px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px solid black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 15px;
  color: black;
}

.logo {
}

.text {
  margin: 10px;
}
