@import '/src/styles/variables.scss';
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.btn {
    font-size: 16px;
    padding: 0.5rem 2rem;
    border: none;
    font-weight: 600;
    border-radius: 2rem;
    &:hover {
        filter: brightness(90%);
    }
}

.btn-primary {
    color: white;
    background: $primary_blue;
}

.btn-secondary {
    color: rgb(59, 59, 59);
    background: rgb(234, 234, 234);
}