.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid grey;
  padding: 10px;
}

.date {
  color: #2161cd;
}

.description {
  text-size: 16px;
  line-height: 32px;
  color: #000000;
  max-width: 50%
}

.activity {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid grey;
}
